@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?14o500');
  src:  url('fonts/icomoon.eot?14o500#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?14o500') format('truetype'),
    url('fonts/icomoon.woff?14o500') format('woff'),
    url('fonts/icomoon.svg?14o500#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\e900";
}
.icon-gitlab:before {
  content: "\e901";
  color: #fca121;
}
.icon-gmail:before {
  content: "\e902";
  color: #d14836;
}
.icon-instagram:before {
  content: "\e904";
  color: #e4405f;
}
.icon-linkedin1:before {
  content: "\e903";
  color: #0077b5;
}
