 .general{
    height: 1000px; width: 700px;
    background-image: url("../vistas/imagenes/fondoCV2.jpg");
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; /* por ahora coloco hidden, veo si pongo auto para la barra de desplazamiento*/
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenCV{
    width: 240px; height: 240px;
    background-image: url("../vistas/imagenes/foto2.jpg");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    border-radius: 150px;
    border: 5px solid rgba(153, 114, 8, 0.87);

}

.infoPersonal{
    width: 600px; height: 60px;
    padding: 5px; /* distanciamiento de los bordes */
    margin: 15px; /* margen en general de la caja para el distanciamiento */
    font-size: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(153, 114, 8, 0.87);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.infoGeneral{
    float: left;
    width: 450px; height: 600px;
    padding: 5px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 21px;
    margin-top: -20px;
    background-color: rgba(153, 114, 8, 0.87);
    border-radius: 10px;
    overflow: hidden;

} 

.infoContacto{
    float: left;
    width: 130px; height: 600px;
    padding: 4px;
    margin: 10px;
    margin-right: -3px;
    margin-left: 10px;
    margin-top: -20px;
    background-color:  rgba(153, 114, 8, 0.87);
    border-radius: 10px;
    overflow: hidden;
}

h2{
    font-weight: normal;
    font-style: italic;
}

h4{
    font-size: 14px;
    font-style: italic;
}

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-image:url("../vistas/viñeta.jpg") ;
}

nav{
    margin-left: -33px;
    min-width: 130px;
    min-height: 100px;
}
nav .estilo-bloque li{ /* se coloca en bloque primero al ultima caja que se encierra, para poder colocarlo en filas,usando inline-blo*/
    display: inline-block;
    align-items: flex-start;
    background-color: rgb(245, 233, 130);
    vertical-align: -300px;
}

nav .estilo-bloque li a{
    display: block;
    background-color: rgb(245, 233, 130);
    text-decoration: none;
}

p{
    font-size:small;
}

.infoHerramientas{
    font-size: 11px;
}

.objetivo{
    text-align: center;
}

span{
    font-style: italic;
    text-decoration: none ;
    font-weight: bold;
}

img{
    display:block;
    margin:auto;
}